<div class="new-footer">

	<div class="footer-row">

		<div class="footer-row-entry">

			<span class="footer-row-entry-title">
				Travelers Support Center
			</span>

			<span class="footer-row-entry-text">

				<a href="http://messenger.providesupport.com/messenger/eddinc.html" target="_blank">
					<b>LIVE CHAT</b>
				</a>

			</span>

			<span class="footer-row-entry-text">
				Hotline: <b>787 - 522 - 5960</b>
			</span>

		</div>

		<div class="footer-row-entry">

			<span class="footer-row-entry-title">
				Aid and Support
			</span>

			<span class="footer-row-entry-text">

				<a href="http://unitedforpuertorico.com" target="_blank">
					unitedforpuertorico.com
				</a>

			</span>

		</div>

		<div class="footer-row-entry">

			<span class="footer-row-entry-title"></span>

			<span class="footer-row-entry-text hide-on-mobile">
				© 2017 Puerto Rico Now
			</span>

		</div>

		<div class="footer-row-entry">

			<img class="footer-row-entry-img" src="/img/pr-now-logo-white.png"/>

		</div>

	</div>

</div>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
