{{ if .open }}

	<div class="hotel-row open">

{{ else }}

	<div class="hotel-row closed">

{{ end }}

	<div class="name">

		{{.name}}

	</div>

	<div class="status">
			
		{{ if .open }}
		
			Open

		{{ else }}

			Closed

		{{ end }}

	</div>

	<div class="date">

		{{ .date }}

	</div>

	<div class="phone">

		{{.phone}}

	</div>

	<div class="view-info down"></div>

	<div class="more-info collapsed">

		<div class="date">
			
			{{ .date }}
	
		</div>
	
		<div class="phone">
	
			{{.phone}}
	
		</div>

	</div>

</div>
