<div class="hotels-table-container">

	<div class="table-top">

		<div class="half first">

			<img src="/img/icons/hotel-grey.svg"/>

			<p>
				Here is the operating status of over 100 hotels in Puerto Rico, including the date by which they're accepting reservations.
			</p>

		</div>

		<div class="half second">

			<div class="buttons-container">

				<p>
					Show
				</p>

				<div class="buttons-row">

					<div class="filter-button">
						Open
					</div>

					<div class="filter-button">
						Closed
					</div>

					<div class="filter-button selected">
						All
					</div>

				</div>

			</div>

			<div class="update-time-row">

				<p>
					Updated on:
				</p>

				<div class="update-time">
					{{ .Date.Format "Monday Jan 2, 2006" }}
				</div>

			</div>

		</div>

	</div>

	<div class="hotels-table">

		<div class="hotel-row table-header">

			<div class="name">
				Hotel Name
			</div>

			<div class="status">
				Status
			</div>

			<div class="date">
				Next Reservation
			</div>

			<div class="more-info">
				More info
			</div>

		</div>	

		{{ range .Params.hotels }}

			{{ partial "hotels-table-row" . }}

		{{ end }}

	</div>

</div>
