<div class="new-header">

	<div class="header-row">

		<div class="header-logo">
			<a href="/">
				<img src="/img/pr-now-logo-white.png"/>
			</a>

		</div>

		<div class="header-menu hide-on-mobile">

			<a class="header-menu-item" href="/airports">

				<span class="header-menu-item-title">
					AIRPORTS
				</span>

			</a>

			<a class="header-menu-item" href="/hotels">

				<span class="header-menu-item-title">
					HOTELS
				</span>

			</a>

			<a class="header-menu-item" href="/ports">

				<span class="header-menu-item-title">
					PORTS
				</span>

			</a>

		</div>


		<div class="header-buttons-container">

			<div class="header-buttons-container-row header-buttons-container-row-top hide-on-mobile">

				<span class="find-us-span">
					Find us on:
				</span>

				<a class="icon-container" href="https://www.instagram.com/seepuertorico/" target="_blank">

					<img src="/img/icons/instagram.svg" class="header-icon"/>

				</a>

				<a class="icon-container" href="https://www.youtube.com/channel/UCCYYZjp9Xh7tH0wBJWe7P8w" target="_blank">

					<img src="/img/icons/youtube.svg" class="header-icon"/>

				</a>

				<a class="icon-container" href="https://www.facebook.com/SeePuertoRico/" target="_blank">

					<img src="/img/icons/facebook.svg" class="header-icon"/>

				</a>

				<a class="icon-container" href="https://twitter.com/seepuertorico" target="_blank">

					<img src="/img/icons/twitter.svg" class="header-icon"/>

				</a>

				<a class="icon-container" href="https://www.pinterest.com/SeePuertoRico/" target="_blank">

					<img src="/img/icons/pinterest.svg" class="header-icon"/>

				</a>

			</div>

			<div class="header-buttons-container-row">

				<a class="phone-box hide-on-mobile">

					<img src="/img/icons/phone.svg" class="header-icon phone-icon"/>

					<p class="phone-span hide-on-mobile">
						787 - 522 - 5960
					</p>

				</a>

				<a class="live-chat-button" href="http://messenger.providesupport.com/messenger/eddinc.html" target="_blank">
					LIVE CHAT
				</a>

				<input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger-nav"></label>

				<nav id="burger-nav" class="navigation-burger">

					<a class="phone-box">
							
						<img src="/img/icons/phone.svg"/>
	
						<p>
							787 - 522 - 5960
						</p>
	
					</a>
					
					<ul>
						<li class="border-top"><a href="/airports">AIRPORTS</a></li>
						<li class="border-top"><a href="/hotels">HOTELS</a></li>
						<li class="border-top"><a href="/ports">PORTS</a></li>
					</ul>

					<div class="burger-nav-social-media border-top">

						<p>
							Find us on:
						</p>

						<div class="icons-row">

							<a href="https://www.instagram.com/seepuertorico/" target="_blank">
			
								<img src="/img/icons/instagram.svg">
			
							</a>
			
							<a href="https://www.youtube.com/channel/UCCYYZjp9Xh7tH0wBJWe7P8w" target="_blank">
			
								<img src="/img/icons/youtube.svg"/>
			
							</a>
			
							<a href="https://www.facebook.com/SeePuertoRico/" target="_blank">
			
								<img src="/img/icons/facebook.svg"/>
			
							</a>
			
							<a href="https://twitter.com/seepuertorico" target="_blank">
			
								<img src="/img/icons/twitter.svg"/>
			
							</a>
			
							<a href="https://www.pinterest.com/SeePuertoRico/" target="_blank">
			
								<img src="/img/icons/pinterest.svg"/>
			
							</a>

						</div>

					</div>

				</nav>

			</div>

		</div>

	</div>

</div>
