<div class="united-for-pr-box centered-box-content-all">

    <div class="items-container">

        <p>
            United for Puerto Rico: Together Changing Paths
        </p>

        <a href="http://unitedforpuertorico.com" target="_blank">
            JOIN US AND SHOW YOUR SUPPORT
        </a>

    </div>

</div>

<div class="mailer centered-box-content-all hidden">

    <p class="title">
        Register to receive notifications from See Puerto Rico
    </p>

    <div class="email-input-box">

        <img src="/img/icons/email.svg" />

        <input type="email" name="email" id="email" placeholder="Email" class="email-input" />

    </div>

    <div id="register-to-mailer-btn" class="register-to-mailer-btn">
        REGISTER
    </div>

</div>
