body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.centered-box-content-all {
    width: 1170px;
    max-width: none;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-box-content-desktop {
    width: 1170px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-mobile-only {
    display: none;
}

.header {
    padding: 0;
    margin: 0 0 50px 0;
    overflow: visible;
    border: none;
}

.burger-nav {
    display: none;
}

.navigation-burger {
    display: none;
}

.burger-check {
    display: none;
}

.new-header {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 121px;
    background: #FFFFFF;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
		        box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.new-header .header-row {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
}

.new-header .header-row .header-logo {
    display: inline-block;
    background: #92BA01;
    margin: 0 15px 0 0;
    width: 286px;
    height: 133px;
    padding: 27px 0;
    text-align: center;
}

.new-header .header-row .header-logo img {
    width: 261px;
    height: 79px;
    margin: auto;
    display: block;
}

.new-header .header-row .header-menu {
    display: inline-block;
    vertical-align: top;
    margin: 50px 0 0 0;
}

.new-header .header-row .header-menu .header-menu-item {
    display: inline-block;
    text-align: left;
    margin: 0 10px;
    text-decoration: none;
}

.new-header .header-row .header-menu .header-menu-item:hover {
    -webkit-box-shadow: 0px 2px 0px #92BA01;
            box-shadow: 0px 2px 0px #92BA01;
}

.new-header .header-row .header-menu .header-menu-item .header-menu-item-title {
    display: block;
    color: #4E4E4E;
    font-size: 20px;
    font-weight: bold;
}

.new-header .header-row .header-menu .header-menu-item .header-menu-item-subtitle {
    display: block;
    color: #92BA01;
    font-size: 11px;
    font-weight: normal;
    padding: 6px 0;
}

.new-header .header-row .header-buttons-container {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 10px;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row {
    display: block;
    text-align: right;
    margin: 0 0 10px 0;
    height: 30px;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .icon-container {
    display: inline-block;
    vertical-align: bottom;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .header-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .header-icon.phone-icon {
    width: 18px;
    height: 18px;
    margin: 0 2px 3px 0;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .phone-span {
    display: inline-block;
    color: #92BA01;
    margin: 0;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .find-us-span {
    display: inline-block;
    color: #4E4E4E;
    font-size: 14px;
    font-weight: bold;
    margin: 0 2px 0 10px;
    vertical-align: bottom;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .phone-box {
    display: inline-block;
    border: 1px solid #92BA01;
    height: 38px;
    vertical-align: bottom;
    padding: 0 5px;
    text-align: center;
    margin: 0 10px 0 0;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .live-chat-button {
    display: inline-block;
    color: #FFFFFF;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    background: #92BA01;
    height: 30px;
    vertical-align: bottom;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

main {
	padding: 0 15px;
	text-align: justify;
}

.new-footer {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 160px;
    background: #4E4E4E;
    color: #ffffff;
    border-top: 15px solid #91BA01;
}

.new-footer .footer-row {
    display: block;
    text-align: center;
    padding: 31px 0 0 0;
    width: 100vw;
    max-width: 1170px;
    margin: 0 auto;
}

.new-footer .footer-row .footer-row-entry {
    display: inline-block;
    width: 20vw;
    max-width: 285px;
    vertical-align: top;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-title {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    min-height: 18px;
    color: #ffffff;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-text {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #BFBFBF;
    margin: 10px 0;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-text a {
    color: #BFBFBF;
    text-decoration: none;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-img {
    display: block;
    text-align: center;
    width: 221px;
    height: 67px;
}

.new-footer b {
    color: inherit;
}

a:focus, button:focus, input:focus, textarea:focus {
    box-shadow: none;
}

.main-banner {
    width: 100vw;
    height: calc(100vw / 2.5);
    background-image: url('/img/main_banner_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.main-banner p {
    width: auto;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    min-height: none;
    max-height: none;
    min-width: none;
    max-width: none;
}

.main-banner p.bold {
    font-weight: bold !important;
}

.main-banner p.small {
    font-size: 20px;
}

.main-banner p.big {
    font-size: 40px;
}

.main-banner p.top {
    display: inline-block;
    margin: 60px auto 90px;
    padding: 0 20px 10px;
    border-bottom: 1px solid #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, .75);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.main-banner a {
    text-align: center;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    display: inline-block;
    margin: 40px auto 5px;
    text-decoration: none;
    color: white;
    background: #92BA01;
}

.info-bar {
    width: 80vw;
    max-width: 1170px;
    height: 80px;
    background: #92BA01;
    display: block;
    margin: 40px auto;
    color: white;
    display: none;
}

.info-bar .dark-content {
    float: left;
    background: #7B9D00;
    font-size: 20px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    padding: 0;
    width: 15%;
    text-align: center;
}

.info-bar .dark-arrow {
    float: left;
    width: 0px;
    height: 0px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 20px solid #7B9D00;
}

.info-bar .content {
    float: right;
    text-align: center;
    width: calc(85% - 60px);
    height: 80px;
}

.info-bar .content p {
    width: 30%;
    text-align: left;
    font-size: 13px;
    display: inline-block;
    height: 80px;
    padding: 10px 5px;
    vertical-align: top;
    line-height: 13px;
    font-weight: 600;
}

.message-container {
    background: #1E4369;
    margin: 10px auto;
    color: white;
    padding: 25px;
}

.message-container .title {
    font-size: 36px;
    font-weight: bold;
}

.message-container .message {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
    overflow: hidden;
    height: auto;
    max-height: none;

    max-width: 700px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    display: inline-block;
}

.message-container .signature {
    display: inline-block;
    margin: 0 0 0 15px;
}

.message-container .signature .signature-name {
    width: auto;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.message-container .signature .signature-position {
    width: 60%;
    font-size: 14px;
    margin: 0;
}

.message-container .izquiero-mask {
    width: auto;
    position: absolute;
    pointer-events: none;

    height: 350px;
    left: calc(((100vw - 1170px) / 2) + (1170px - 470px));
    transform: translate(0px, -60px);
}

.green-cards-container {}

.green-cards-container .title {}

.green-cards-container .green-card {}

.green-cards-container .green-card img {}

.green-cards-container .green-card .card-title {}

.green-cards-container .green-card .card-text {}

.green-cards-container .green-card a {}

.status-pr-box {}

.status-pr-box .items-container {}

.status-pr-box .items-container p {}

.status-pr-box .items-container img {}

.united-for-pr-box {}

.united-for-pr-box .items-container {}

.united-for-pr-box .items-container p {}

.united-for-pr-box .items-container a {}

.mailer {}

.mailer .title {}

.mailer .email-input-box {}

.mailer .email-input-box img {}

.mailer .email-input-box input {}

.mailer .register-to-mailer-btn {}
