.instagram-container {
    height: auto;
}

.instagram-container .title {
    display: block;
    margin: 35px auto 20px auto;
    text-align: center;
    color: #4E4E4E;
    font-weight: normal;
    width: 1170px;
    font-size: 36px;
}

.instagram-container .tns-outer .tns-controls {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.instagram-container .tns-outer .tns-controls button {
    position: absolute;
    z-index: 10;
    background: #92BA01;
    color: white;
    height: 60px;
    width: 30px;
}

.instagram-container .tns-outer .tns-controls button:first-of-type {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    transform: translate(-25px, 250px);
}

.instagram-container .tns-outer .tns-controls button:first-of-type::after {
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 15px);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    clear: both;
}

.instagram-container .tns-outer .tns-controls button:last-of-type {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    transform: translate(1165px, 250px);
}

.instagram-container .tns-outer .tns-controls button:last-of-type::after {
    content: '';
    position: absolute;
    right: calc(50% - 8px);
    top: calc(50% - 15px);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    clear: both;
}

.instagram-container .tns-outer .tns-nav {
    display: none;
}

.instagram-container .tns-outer .tns-nav button {

}

.instagram-container .tns-outer button[data-action="stop"] {
    display: none;
}

.instagram-container .tns-outer .tns-inner {
    padding: 0 0 5px 0;
}

.instagram-container .tns-outer .tns-inner .tns-slider {
    height: 580px;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item {
    height: 580px;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: 0.3s;
    margin: 0 10px;
    height: 560px;
    padding: 0;
    text-align: center;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card a img {
    border-radius: 0;
    width: auto;
    height: auto;
    max-height: 320px;
    margin: 0 auto;
    display: inline-block;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container {
    margin: 5px 15px;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-caption {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 110px;
    font-size: 15px;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container {
    text-align: left;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container .instagram-profile-picture {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container a {
    display: inline-block;
    margin: 0 0 0 10px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container a .instagram-username {
    font-size: 16px;
    color: #4E4E4E;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

@media (max-width: 1200px) {

    .instagram-container {
        width: 85vw;
        height: auto;
    }

    .instagram-container .title {
        width: 75vw;
        font-size: 26px;
    }
    
    .instagram-container .tns-outer .tns-controls {}
    
    .instagram-container .tns-outer .tns-controls button {
        height: 50px;
        width: 25px;
    }
    
    .instagram-container .tns-outer .tns-controls button:first-of-type {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translate(-15px, 250px);
    }
    
    .instagram-container .tns-outer .tns-controls button:first-of-type::after {
        left: calc(50% - 5px);
        top: calc(50% - 15px);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
    }
    
    .instagram-container .tns-outer .tns-controls button:last-of-type {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transform: translate(calc(85vw - 10px), 250px);
    }
    
    .instagram-container .tns-outer .tns-controls button:last-of-type::after {
        right: calc(50% - 5px);
        top: calc(50% - 15px);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid white;
    }
    
    .instagram-container .tns-outer .tns-nav {}
    
    .instagram-container .tns-outer .tns-nav button {}
    
    .instagram-container .tns-outer button[data-action="stop"] {}
    
    .instagram-container .tns-outer .tns-inner {}
    
    .instagram-container .tns-outer .tns-inner .tns-slider {
        height: 520px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item {
        height: 520px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card {
        height: 500px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card a img {
        max-height: 300px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container {}
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-caption {}
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container {}
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container .instagram-profile-picture {
        width: 25px;
        height: 25px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container a {
        height: 30px;
        line-height: 25px;
    }
    
    .instagram-container .tns-outer .tns-inner .tns-slider .tns-item .instagram-card .instagram-card-container .instagram-image-text-container a .instagram-username {
        font-size: 12px;
        height: 25px;
        line-height: 25px;
    }

}