@media (max-width: 1200px) {

    .centered-box-content-all {
        width: 90vw;
        max-width: 1170px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .centered-box-content-desktop {
        width: auto;
        max-width: none;
        margin: 0;
    }

    .centered-box-content-mobile {
        width: 90vw;
        max-width: 1170px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .show-mobile-only {
        display: block;
    }

    .hide-on-mobile {
        display: none !important;
    }

    .burger-nav {
        display: inline-block;
        position: relative;
        pointer-events: all;
        opacity: 1;
        color: black;
        border: 0;
        border-radius: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: 4px solid currentColor;
        width: 28px;
        -o-transition: border-bottom 1s ease-in-out;
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out;
    }


    .buger-nav::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .burger-nav:before {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 4px;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-nav:after {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 4px;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-check:checked ~ .burger-nav {
        border-bottom: 4px solid transparent;
        -o-transition: border-bottom 0.8s ease-in-out;
        transition: border-bottom 0.8s ease-in-out;
        -webkit-transition: border-bottom 0.8s ease-in-out;
    }

    .burger-check:checked ~ .burger-nav:before {
        -ms-transform: rotate(-405deg) translateY(1px) translateX(-3px);
            transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-check:checked ~ .burger-nav:after {
        -ms-transform: rotate(405deg) translateY(-4px) translateX(-5px);
            transform: rotate(405deg) translateY(-4px) translateX(-5px);
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .navigation-burger {
        display: block;
        position: absolute;
        z-index: 20;
        right: 15px;
        top: 55px;
    }

    .navigation-burger {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .burger-check:checked ~ .navigation-burger {
        max-height: 500px;
        -webkit-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .navigation-burger ul {
        margin: 0;
        padding: 10px 25px;
        background: white;
        border: 1px solid #92BA01;
    }

    .navigation-burger ul li {
        list-style: none;
        font-size: 16px;
        padding: 5px 0;
    }

    .navigation-burger ul a {
        color: #92BA01;
        text-decoration: none;
    }

    .navigation-burger ul a:hover {
        text-decoration: underline;
    }

    .new-header {
        height: 60px;
    }

    .new-header .header-row .header-logo {
        margin: 0 0 0 50px;
        width: 140px;
        height: 70px;
        padding: 15px 0;
        float: left;
    }

    .new-header .header-row .header-logo img {
        width: 130px;
        height: 40px;
        margin: auto;
    }

    .new-header .header-row .header-buttons-container {
        margin: 10px 50px 0 0;
        float: right;
        height: 40px;
    }

    .new-header .header-row .header-buttons-container .header-buttons-container-row {
        margin: 0;
        height: 40px;
        width: 130px;
    }

    .new-header .header-row .header-buttons-container .header-buttons-container-row .live-chat-button {
        display: inline-block;
        color: #FFFFFF;
        margin: 0;
        padding: 5px 10px;
        text-decoration: none;
        background: #92BA01;
        height: 30px;
        vertical-align: bottom;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .new-footer {
        height: 330px;
    }

    .new-footer .footer-row {
        padding: 0;
        margin: 0;
    }

    .new-footer .footer-row .footer-row-entry {
        display: block;
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .new-footer .footer-row .footer-row-entry .footer-row-entry-title {
        width: 100%;
        margin: 15px auto 0 auto;
        text-align: center;
        font-size: 16px;
    }

    .new-footer .footer-row .footer-row-entry .footer-row-entry-text {
        width: 100%;
        margin: 10px auto 0 auto;
        text-align: center;
        font-size: 14px;
    }

    .new-footer .footer-row .footer-row-entry .footer-row-entry-img {
        border-top: 1px solid #bfbfbf;
        padding: 15px 50px;
        margin: 0 auto;
        height: 67px;
        width: 220px;
    }

    .new-footer b {
        font-weight: normal;
    }

    .main-banner {
        height: 420px;
    }

    .main-banner p {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 15px 0 0 0;
    }

    .main-banner p.small {
        font-size: 14px;
    }

    .main-banner p.big {
        font-size: 22px;
    }

    .main-banner p.top {
        padding: 30px 20px 10px;
        margin: 0 auto;
    }

    .main-banner p.banner-mobile-copy {
        padding: 5px 0 15px 0;
        font-size: 12px;
    }

    .main-banner a {
        margin: 5px auto 0;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        padding: 0 20px;
    }

    .main-banner .down-white-arrow {
        display: block;
        margin: 0 auto;
        height: 20px;
        width: auto;
        padding: 40px 0 0 0;
    }

    .info-bar {
        height: 80px;
    }

    .info-bar .dark-content {
        display: none;
    }

    .info-bar .content {
        width: calc(100% - 40px);
    }

    .info-bar .content p {
        font-size: 12px;
        font-weight: 400;
        width: 100%;
        line-height: 12px;
        padding: 5px;
        margin: 10px 0 0 0;
    }

    .message-container {
        margin: 10px auto;
        padding: 25px 10px;
    }

    .message-container .title {
        font-size: 24px;
    }

    .message-container .message {
        max-width: none;
        -webkit-column-count: 1;
        column-count: 1;
        display: block;
    }

    .message-container .message p {
        max-height: 1000vh;
        overflow: hidden;
    }

    .message-container .message.show-less p {
        max-height: 0px;
        margin: 0;
    }

    .message-container .message.show-less p.first-p {
        max-height: 1000vh;
    }

    .message-container .show-more-btn {
        font-size: 14px;
        font-weight: bold;
        border: 3px solid white;
        display: block;
        line-height: 16px;
        width: 150px;
        padding: 0;
        margin: 25px 0 0 0;
        cursor: pointer;
        pointer-events: all;
    }

    .message-container .show-more-btn .text {
        padding: 10px 5px;
        display: inline-block;
        pointer-events: none;
    }

    .message-container .show-more-btn img {
        height: 12px;
        width: auto;
        vertical-align: middle;
        pointer-events: none;
        float: right;
        margin: 12px 10px 0 0;
    }

    .message-container .show-more-btn img.rotate {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .message-container .signature {
        display: block;
        margin: 30px 0 0 0;
    }

    .message-container .izquiero-mask {
        height: 200px;
        left: calc(95vw - 263px);
        -webkit-transform: translate(0px, -175px);
            -ms-transform: translate(0px, -175px);
                transform: translate(0px, -175px);
    }

    .green-cards-container {
        margin: 10px auto;
    }

    .green-cards-container .title {
        width: 75vw;
        font-size: 26px;
    }

    .green-cards-container .gren-cards-wrapper {
        display: block;
        margin: 0;
        padding: 0;
    }

    .green-cards-container .gren-cards-wrapper .green-card {
        width: 100%;
        margin: 0 auto 10px auto;
    }

    .status-pr-box {
        height: 270px;
        margin: 20px auto;
        display: table;
    }

    .status-pr-box .items-container {
        display: table-cell;
        vertical-align: middle;
    }

    .status-pr-box .items-container p {
        width: 90%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        float: none;
    }

    .status-pr-box .items-container img {
        float: none;
        display: block;
        margin: 15px auto 0 auto;
    }

    .united-for-pr-box {
        height: 215px;
        margin: 20px auto;
        display: table;
    }

    .united-for-pr-box .items-container p {
        width: 90%;
        font-size: 20px;
    }

    .united-for-pr-box .items-container a {
        width: 60%;
        font-size: 12px;
    }

    .mailer {
        margin: 40px auto 10px auto;
    }

    .mailer .title {
        width: 75vw;
        font-size: 26px;
    }

    .mailer .email-input-box {
        width: 100%;
        display: block;
    }

    .mailer .register-to-mailer-btn {
        width: 100%;
        display: block;
        margin: 15px auto 50px;
    }

}

@media (max-width: 650px) {

    .new-header .header-row .header-logo {
        margin: 0 0 0 30px;
    }

    .new-header .header-row .header-buttons-container {
        margin: 10px 30px 0 0;
    }

}

@media (max-width: 400px) {

    .new-header .header-row .header-logo {
        margin: 0 0 0 10px;
    }

    .new-header .header-row .header-buttons-container {
        margin: 10px 10px 0 0;
    }

}
