/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

/* NEW CSS FOR PR NOW */

@import './imports/_pr_now_site';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

html {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    margin: 0;
    width: 100%;
    max-width: none;
    padding: 0;
	overflow: hidden;
}

.hidden {
    display: none;
}

.header {
    padding: 0;
    margin: 0 0 50px 0;
    overflow: visible;
    border: none;
}

.burger-nav {
    display: none;
}

.navigation-burger {
    display: none;
}

.burger-check {
    display: none;
}

.new-header {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 121px;
    background: #FFFFFF;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
		        box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.new-header .header-row {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
}

.new-header .header-row .header-logo {
    display: inline-block;
    background: #92BA01;
    margin: 0 15px 0 0;
    width: 286px;
    height: 133px;
    padding: 27px 0;
    text-align: center;
}

.new-header .header-row .header-logo img {
    width: 261px;
    height: 79px;
    margin: auto;
    display: block;
}

.new-header .header-row .header-menu {
    display: inline-block;
    vertical-align: top;
    margin: 50px 0 0 0;
}

.new-header .header-row .header-menu .header-menu-item {
    display: inline-block;
    text-align: left;
    margin: 0 10px;
    text-decoration: none;
}

.new-header .header-row .header-menu .header-menu-item:hover {
    -webkit-box-shadow: 0px 2px 0px #92BA01;
            box-shadow: 0px 2px 0px #92BA01;
}

.new-header .header-row .header-menu .header-menu-item .header-menu-item-title {
    display: block;
    color: #4E4E4E;
    font-size: 20px;
    font-weight: bold;
}

.new-header .header-row .header-menu .header-menu-item .header-menu-item-subtitle {
    display: block;
    color: #92BA01;
    font-size: 11px;
    font-weight: normal;
    padding: 6px 0;
}

.new-header .header-row .header-buttons-container {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 10px;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row {
    display: block;
    text-align: right;
    margin: 0 0 10px 0;
    height: 30px;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .icon-container {
    display: inline-block;
    vertical-align: bottom;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .header-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .header-icon.phone-icon {
    width: 18px;
    height: 18px;
    margin: 0 2px 3px 0;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .phone-span {
    display: inline-block;
    color: #92BA01;
    margin: 0;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .find-us-span {
    display: inline-block;
    color: #4E4E4E;
    font-size: 14px;
    font-weight: bold;
    margin: 0 2px 0 10px;
    vertical-align: bottom;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .phone-box {
    display: inline-block;
    border: 1px solid #92BA01;
    height: 38px;
    vertical-align: bottom;
    padding: 0 5px;
    text-align: center;
    margin: 0 10px 0 0;
}

.new-header .header-row .header-buttons-container .header-buttons-container-row .live-chat-button {
    display: inline-block;
    color: #FFFFFF;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    background: #92BA01;
    height: 30px;
    vertical-align: bottom;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

main {
	padding: 0 15px;
	text-align: justify;
}

.new-footer {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 160px;
    background: #4E4E4E;
    color: #ffffff;
    border-top: 15px solid #91BA01;
}

.new-footer .footer-row {
    display: block;
    text-align: center;
    padding: 31px 0 0 0;
    width: 100vw;
    max-width: 1170px;
    margin: 0 auto;
}

.new-footer .footer-row .footer-row-entry {
    display: inline-block;
    width: 20vw;
    max-width: 285px;
    vertical-align: top;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-title {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    min-height: 18px;
    color: #ffffff;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-text {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #BFBFBF;
    margin: 10px 0;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-text a {
    color: #BFBFBF;
    text-decoration: none;
}

.new-footer .footer-row .footer-row-entry .footer-row-entry-img {
    display: block;
    text-align: center;
    width: 221px;
    height: 67px;
}

.new-footer b {
    color: inherit;
}

@media (max-width: 1135px) {

    .burger-nav {
        display: inline-block;
        position: relative;
        pointer-events: all;
        opacity: 1;
        color: black;
        border: 0;
        border-radius: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: 4px solid currentColor;
        width: 28px;
        -o-transition: border-bottom 1s ease-in-out;
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out; 
    }
    
        
    .buger-nav::-moz-focus-inner {
        border: 0;
        padding: 0;
    }	 
    
    .burger-nav:before {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 4px;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;    
        -webkit-transition: -webkit-transform 0.5s ease-in-out;        
    }
    
    .burger-nav:after {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 4px;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    
    .burger-check:checked ~ .burger-nav {
      border-bottom: 4px solid transparent;
      -o-transition: border-bottom 0.8s ease-in-out;
      transition: border-bottom 0.8s ease-in-out;
      -webkit-transition: border-bottom 0.8s ease-in-out;
    }
    
    .burger-check:checked ~ .burger-nav:before {
        -ms-transform: rotate(-405deg) translateY(1px) translateX(-3px);
            transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
        transition: -webkit-transform 0.5s ease-in-out;      
        -o-transition: transform 0.5s ease-in-out;      
        transition: transform 0.5s ease-in-out;      
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    
    .burger-check:checked ~ .burger-nav:after {
        -ms-transform: rotate(405deg) translateY(-4px) translateX(-5px);
            transform: rotate(405deg) translateY(-4px) translateX(-5px); 
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
        transition: -webkit-transform 0.5s ease-in-out;       
        -o-transition: transform 0.5s ease-in-out;       
        transition: transform 0.5s ease-in-out;       
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    
    .navigation-burger {
        display: block;
        position: absolute;
        z-index: 1;
        right: 15px;
        top: 55px;
    }

    .navigation-burger {
      overflow: hidden;
      max-height: 0;  
      -webkit-transition: max-height 0.5s ease-in-out;  
      -o-transition: max-height 0.5s ease-in-out;  
      transition: max-height 0.5s ease-in-out;
    }
    
    .burger-check:checked ~ .navigation-burger {
      max-height: 500px;
      -webkit-transition: max-height 0.5s ease-in-out;
      -o-transition: max-height 0.5s ease-in-out;
      transition: max-height 0.5s ease-in-out;
    }

    .navigation-burger ul {
        margin: 0;
        padding: 10px 25px;
        background: white;
        border: 1px solid #92BA01;
    }

    .navigation-burger ul li {
        list-style: none;
        font-size: 16px;
        padding: 5px 0;
    }

    .navigation-burger ul a {
        color: #92BA01;
        text-decoration: none;
    }

    .navigation-burger ul a:hover {
        text-decoration: underline;
    }

    .new-header {
        height: 60px;
    }

    .new-header .header-row .header-logo {
        margin: 0 0 0 50px;
        width: 140px;
        height: 70px;
        padding: 15px 0;
        float: left;
    }
    
    .new-header .header-row .header-logo img {
        width: 130px;
        height: 40px;
        margin: auto;
    }
    
    .new-header .header-row .header-buttons-container {
        margin: 10px 50px 0 0;
        float: right;
        height: 40px;
    }
    
    .new-header .header-row .header-buttons-container .header-buttons-container-row {
        margin: 0;
        height: 40px;
        width: 130px;
    }

    .hide-on-mobile, .new-header .header-row .header-menu,
    .new-header .header-row .header-buttons-container .header-buttons-container-row.header-buttons-container-row-top,
    .new-header .header-row .header-buttons-container .header-buttons-container-row .phone-box,
    .new-header .header-row .header-buttons-container .header-buttons-container-row .phone-span,
    .new-header .header-row .header-buttons-container .header-buttons-container-row .icon-container,
    .new-header .header-row .header-buttons-container .header-buttons-container-row .header-icon {
        display: none !important;
        opacity: 0 !important;
        height: 0 !important;
        width: 0 !important;
        overflow: hidden !important;
    }
    
    .new-header .header-row .header-buttons-container .header-buttons-container-row .live-chat-button {
        display: inline-block;
        color: #FFFFFF;
        margin: 0;
        padding: 5px 10px;
        text-decoration: none;
        background: #92BA01;
        height: 30px;
        vertical-align: bottom;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    
    .new-footer {
        height: 330px;
    }

    .new-footer .footer-row {
        padding: 0;
        margin: 0;
    }

    .new-footer .footer-row .footer-row-entry {
        display: block;
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .new-footer .footer-row .footer-row-entry .footer-row-entry-title {
        width: 100%;
        margin: 15px auto 0 auto;
        text-align: center;
        font-size: 16px;
    }
    
    .new-footer .footer-row .footer-row-entry .footer-row-entry-text {
        width: 100%;
        margin: 10px auto 0 auto;
        text-align: center;
        font-size: 14px;
    }
    
    .new-footer .footer-row .footer-row-entry .footer-row-entry-img {
        border-top: 1px solid #BFBFBF;
        padding: 15px 50px;
        margin: 0 auto;
        height: 97px;
        width: 320px;
    }

    .new-footer b {
        font-weight: normal;
    }
    
}

@media (max-width: 650px) {
    
    .new-header .header-row .header-logo {
        margin: 0 0 0 30px;
    }

    .new-header .header-row .header-buttons-container {
        margin: 10px 30px 0 0;
    }

}

@media (max-width: 400px) {
    
    .new-header .header-row .header-logo {
        margin: 0 0 0 10px;
    }

    .new-header .header-row .header-buttons-container {
        margin: 10px 10px 0 0;
    }

}
