{{ partial "head" . }}

{{ partial "nav" . }}

<div class="main-banner">

    <p class="small top">
        Your Travel Information Portal
    </p>

    <p class="big">
        Welcome to your home for travel updates.
    </p>

    <p class="small">
        If you're thinking about visiting Puerto Rico or already have booked a trip, we can help you.
    </p>

    <a href="http://messenger.providesupport.com/messenger/eddinc.html" target="_blank">
        LIVE CHAT
    </a>

    <p class="big bold">
        Hotline: 787-522-5960
    </p>

</div>

<!--
<div class="info-bar">

    <div class="dark-content">
        This just in
    </div>

    <div class="dark-arrow"></div>

    <div class="content">

        <p>
            Luis Muñoz Marín International Airport  is operating from 7:00 AM to 5:00PM EDT with 39 commercial flights per day.
        </p>

        <p>
            Many hotels have reopened, but are not taking reservations yet. Click on “Hotels” below for more info.
        </p>

        <p>
            San Juan Harbor is open and these other ports are open during daylight hours: Guayanilla, Tallaboa, Salinas, Fajardo, Culebra, Vieques, Guayama.
        </p>

    </div>

</div>
-->

{{ range .Data.Pages }}
  {{if eq .RelPermalink "/index.html" }}
  <div class="mw6 center ph3 pv4">
    <div class="cms mw6">
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" class="entry_image" />{{ end }}
      <h2 class="f3 lh-title b mb3">{{.Title}}</h2>
      <div class="flex justify-between grey-3">
        <p>Last Update: {{ .Date.Format "Mon, Jan 2, 2006 15:04" }} EDT</p>
      </div>
      {{ .Content }}
    </div>
  </div>

  {{end}}
{{ end }}

{{ partial "footer" . }}
