{{ partial "head" . }}

{{ partial "nav" . }}

<div class="main-banner">

    <p class="small top">
        Your Travel Information Portal
    </p>
    
    <p class="big">
        Welcome to your home for travel updates.
    </p>

    <p class="small">
        If you're thinkin about visiting Puerto Rico or already have booked a trip, we can help you
    </p>

    <a href="http://messenger.providesupport.com/messenger/eddinc.html" target="_blank">
        LIVE CHAT   
    </a>

    <p class="big bold">
        Hotline: 787-522-5960
    </p>

</div>

<div style="height: 1px; width: 100%; background: #ffffff; margin: 50px 0"></div>

{{ partial "footer" . }}
